{% extends "master.html" %}
{% load static %}

{% block title %}
  Genre Recommendations
{% endblock %}


{% block content %}
    <button onclick="location.href='/'" type="button" class="button" margin-left="50px">
      Back</button>
    <h1><center>Genre Recommendations</center></h1>
    <form action="{% url 'recresults' %}?index=0&searchType=genre" method="POST">
      <center>
        <select name="genre">
            {% for genre in genreSeeds %}
                <option value="{{genre}}">{{genre}}</option>
            {% endfor %}
        </select>
        <div><button type="submit">Enter</button></div>
      </center>
    </form>
    {% if name %}
      <h3><center>Recommendations based on "{{name}}"</center></h3>
      {% for track, artist, trackArt in recResults %}
        <div class="flex-parent" style="padding-left:35%;padding-top:10px;padding-bottom:10px;">
          <img src="{{ trackArt }}", width="75" height="75">
          <p style="color:white; font-family:'Montserrat',sans-serif;">&nbsp&nbsp&nbsp{{ track }} by&nbsp</p>
          <p style="color:white; font-family:'Montserrat',sans-serif;">{{ artist }}</p>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endblock %}